.maze {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-320px, -300px) ;
    
    border-width: 5px;
    border-style: solid;
    border-color: #3B3C37;
    
}

body {
    background-color: rgb(224, 252, 252);
}